body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #c1e24a;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1rem 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

#cards section {
    background-color: #dadcd0;
    border: 1px solid #080202;
    border-radius: 15px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    width: 300px;
}

#cards section h2 {
    font-size: 1.5rem;
    color: #333;
}

#cards section img {
    max-width: 100%;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #c1e24a;
    margin-top: 2rem;
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }
}